/*///////////////////////////////////////
Home Page Mobile Style/ /////////////////
///////////////////////////////////////*/

* {
	border: solid 0px white;
}

body {
	background-color: black;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', serif;
}

#wrapper1 {
	position: fixed;
	padding: 0px;
	margin: 0px;
	border: solid 0px #FFF;
	height: 250px;
	width: 100%;
	background: black;
	z-index: 1;
	border-bottom: solid 0px white;
}


/*///////////////////////////////////////
The navBar, whaaat!//// /////////////////
///////////////////////////////////////*/

#navBar{
	height:9 0px;
	width:100%;
	background:rgba(0,0,0, .2);
	border-top:solid 0px white;
	border-bottom:solid 2px white;
	position:fixed;
	z-index:+2;
	margin:0px;
	margin-left:0px;
	padding:0px;
	outline:0px;
	margin: 0 auto;
	top:8px;

}

nav ul{
	list-style: none;
}

nav ul li{
	position:relative;
	border:solid 0px #FFF;
	text-align:center;
	vertical-align:middle;
	width:33%;
	float:left;
	font-weight:bold;
	font-family: 'Megrim', serif;
	font-weight: bold;
	font-size:18pt;
	padding-top:6pt;
	margin:0px;
	margin: 0 auto;
	margin-left:0px;
	left:0px;
}

/*///////////////////////////////////////
Color change html links /////////////////
///////////////////////////////////////*/

a:link {
	color:rgb(85,195,166);
	text-decoration:none;
}

a:visited {
	color:rgb(255, 255, 255);
	text-decoration:none;
}

a:hover {
	color: rgb(277, 51, 36);
}

/*///////////////////////////////////////
Main Logo /// ///////////////////////////
///////////////////////////////////////*/


#logo img {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 70px;
	height: 35px;
}

/*///////////////////////////////////////
Donate Button ///////////////////////////
///////////////////////////////////////*/

.btn{
	left: 15px;
	top: 100px;
	height: 140px;
	width: 202px;
	position: absolute;
	background-color: black;
	border-radius: 12px;
	cursor: pointer;
	color: white;
	font-family: 'Megrim';
	font-size: 17px;
	font-weight: bold;
	padding: 30px 50px;
	text-decoration: none;
	border: solid 1px gray;
}
.btn:hover {
	background-color: rgba(277, 51, 36, .6);
}

/*///////////////////////////////////////
Wrapper2 with Social, Video and Content /
///////////////////////////////////////*/

#wrapper2 {
	border: solid 0px white;
	position: relative;
	top: 230px;
	padding: 0px;
}

#mainContent {
	color: white;
	border: solid 0px white;
	height: 100vh;
}

#video1 {
	border: solid 0px white;
	position: absolute;
	margin: 0 auto;
	top: 12px;
	left: 5px;
}

/*///////////////////////////////////////
Social Media Bar ////////////////////////
///////////////////////////////////////*/

.social img {
	background: no-repeat;
	opacity: .4;
}

/*
FRUSTRATION! - how to get hover directly over white part of icon?
.social:hover {
	background: rgba(227, 51, 36, .8);
}*/

.socialFB{
    position: fixed;
    right: 190px;
    padding: 0px;
    list-style-type: none;
    top: 100px;
    margin: 0px;
    z-index: 3;
    background: none;
}

.socialFB img {
	height: 55px;
	width: 55px;
}


.socialTW {
    position: fixed;
    right: 113px;
    padding: 0px;
    list-style-type: none;
    top: 100px;
    margin: 0px;
    z-index: 3;
    background: none;
}

.socialTW img {
	height: 55px;
	width: 55px;
}

.socialIG{
    position: fixed;
    right: 30px;
    padding: 0px;
    list-style-type: none;
    top: 107px;
    margin: 0px;
    z-index: 3;
    background: none;
}

.socialIG img {
	height: 45px;
	width: 45px;
}

.socialGM {
    position: fixed;
    right: 20px;
    padding: 0px;
    list-style-type: none;
    top: 97px;
    margin: 0px;
    z-index: 3;
    background: none;
    z-index: -4;
}


/*///////////////////////////////////////
Learn with us form //////////////////////
///////////////////////////////////////*/

#tableHead {
	border: solid 0px white;
	position: absolute;
	width: 350px;
	height: 50px;
	left: 1000px;
	top: 0px;
	color: white;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 20pt;
	font-family: 'Megrim';
}

#tableOne {
	border: solid 0px white;
	position: absolute;
	width: 350px;
	height: 100px;
	left: 1020px;
	top: 50px;
	display: inline-block;
	padding: 10px;
	margin: 0 auto;
	margin: 12px;
	text-align: left;
}

#tableOne input {
	width: 195px;
	margin: 5px;
	margin-left: 20px;
	height: 18px;
}

#tableOne td {
	border: solid 0px white;
}

/*///////////////////////////////////////
Submit Button "join us!"/////////////////
///////////////////////////////////////*/

#submitButton {
	right: 64px;
	top: 90px;
	position: absolute;
	background-color: black;
	border-radius: 12px;
	cursor: pointer;
	color: white;
	font-family: 'Megrim';
	font-size: 17px;
	font-weight: bold;
	padding: 30px;
	padding-top: 10px;
	height: 80px;
	text-decoration: none;
	border: solid 1px white;
	/*vertical-align: middle;
	margin-left: auto;
    margin-right: auto;
    margin:7px 50px 0px 0px*/
}

#submitButton:hover {
	background-color: rgba(85,195,166, .6);
}

/*///////////////////////////////////////
Main Content ////////////////////////////
///////////////////////////////////////*/

#contentOverview {
	border: solid 0px white;
	position: absolute;
	top: 400px;
	padding: 20px;
	height: 100%;
}

#wrapper3{
	color:white;
}


p {
	text-indent: 100px;
}

/*///////////////////////////////////////
Contact Bottom Page /////////////////////
///////////////////////////////////////*/

#contact {
	position: fixed;
	bottom: 5px;
	height: 50px;
	width: 100%;
	background: rgba(0,0,0, 100);
	border-top: solid 2px white;
	border-bottom: solid 0px white;
	z-index: 2;
	margin: 0px;
	margin-left: 0px;
	padding: 0px;
	outline: 0px;
	margin: 0 auto;
}

#contact ul{
	list-style: none;
}

#contact li{
	position: relative;
	border: solid 0px white;
	text-align: center;
	vertical-align: middle;
	width: 33%;
	float: left;
	font-family: 'Megrim', serif;
	font-size: 22pt;
	padding-top: 6pt;
	margin: 0px;
	margin: 0 auto;
	margin-left: 0px;
	left: 0px;
}