#logo
	{width="200" height="100"
}

body
	{background-color:white;

}
#container {
	width: 1000;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid red;

}
#submit {
	width: 100%;
	color: #00f;
	background-color: #ddd;
	text-align: center;
	font-size:2em;
	float: right;
}

#donate {
	float: left;
	margin-left: 10px;
	border: 1px solid blue;
	font-size: 20px;
	font-family: "";
	width: 400px;
	height: 500px;
}
#payby {
	float: right;
	margin-right: 10px;
	border: 1px solid blue;
	font-size: 20px;
	font-family: "";
	width: 400px;
	height: 500px;
}
#logo button {
	float: right;
	margin: 100px;
}
#navbar ul li{
	list-style-type:  none;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
}
#social ul li{
	list-style-type:  none;
	display: inline-block;
	
	margin: 2px;
	padding: 1px;
	
}
#footer {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12pt;
	font-weight: bold;
}
#footer ul li {
	list-style-type:  none;
	display: inline-block;
}
