/*styling*/

/*///////////////////////////////////////
This formats everything /////////////////
///////////////////////////////////////*/

* {
	border: solid 0px white;
	color: white;
}

body {
	background-color: black;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', serif;
}

#wrapper1 {
	position: fixed;
	padding: 0px;
	margin: 0px;
	border: solid 0px #FFF;
	height: 250px;
	width: 100%;
	background: black;
	z-index: 1;
	border-bottom: solid 0px white;
}


/*///////////////////////////////////////
The navBar, whaaat!//// /////////////////
///////////////////////////////////////*/

#navBar{
	height:70px;
	width:100%;
	background:rgba(0,0,0, .2);
	border-top:solid 0px white;
	border-bottom:solid 2px white;
	position:fixed;
	z-index:+2;
	margin:0px;
	margin-left:0px;
	padding:0px;
	outline:0px;
	margin: 0 auto;
	top:8px;

}

nav ul{
	list-style: none;
}

nav ul li{
	position:relative;
	border:solid 0px #FFF;
	text-align:center;
	vertical-align:middle;
	width:33%;
	float:left;
	font-weight:bold;
	font-family: 'Megrim', serif;
	font-size:16pt;
	padding-top:6pt;
	margin:0px;
	margin: 0 auto;
	margin-left:0px;
	left:0px;
}

/*///////////////////////////////////////
Color change html links /////////////////
///////////////////////////////////////*/

a:link {
	color:rgb(85,195,166);
	text-decoration:none;
}

a:visited {
	color:rgb(255, 255, 255);
	text-decoration:none;
}

a:hover {
	color: rgb(85,195,166);
}

/*///////////////////////////////////////
Main Logo /// ///////////////////////////
///////////////////////////////////////*/


#logo img{
	width: 200px; 
	height: 100px;
	position: absolute;
	left: 50px;
	top: 100px;
}

/*///////////////////////////////////////
Donate Button ///////////////////////////
///////////////////////////////////////*/

.btn{
	right: 100px;
	top: 120px;
	width: 202px;
	position: absolute;
	background-color: black;
	border-radius: 12px;
	cursor: pointer;
	color: white;
	font-family: 'Megrim';
	font-size: 17px;
	font-weight: bold;
	padding: 30px 50px;
	text-decoration: none;
	border: solid 1px white;
}
.btn:hover {
	background-color: rgba(85,195,166, .6);
}

/*///////////////////////////////////////
Wrapper2 with Social, Video and Content /
///////////////////////////////////////*/

#wrapper2 {
	border: solid 0px white;
	position: relative;
	top: 230px;
	padding: 0px;
}

#mainContent {
	color: white;
	border: solid 0px white;
	height: 100vh;
}

#video1 {
	border: solid 0px white;
	position: relative;
	top: 30px;
	left: 30px;
}

/*///////////////////////////////////////
Social Media Bar ////////////////////////
///////////////////////////////////////*/

.social {
	height: 30px;
	width: 30px;
	background: no-repeat;
	opacity: .8;
}

/*
FRUSTRATION! - how to get hover directly over white part of icon?
.social:hover {
	background: rgba(227, 51, 36, .8);
}*/

.socialFB{
    position: fixed;
    right: 20px;
    padding: 0px;
    list-style-type: none;
    top: 90px;
    margin: 0px;
    z-index: 3;
    background: none;
}

.socialTW {
    position: fixed;
    right: 20px;
    padding: 0px;
    list-style-type: none;
    top: 125px;
    margin: 0px;
    z-index: 3;
    background: none;
}

.socialIG{
    position: fixed;
    right: 17px;
    padding: 0px;
    list-style-type: none;
    top: 162px;
    margin: 0px;
    z-index: 3;
    background: none;
}

.socialGM {
    position: fixed;
    right: 16px;
    padding: 0px;
    list-style-type: none;
    top: 193px;
    margin: 0px;
    z-index: 3;
    background: none;
}


/*///////////////////////////////////////
Learn with us form //////////////////////
///////////////////////////////////////*/

#tableHead {
	border: solid 0px white;
	position: absolute;
	width: 350px;
	height: 50px;
	left: 1000px;
	top: 0px;
	color: white;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 20pt;
	font-family: 'Megrim';
}

#tableOne {
	border: solid 0px white;
	position: absolute;
	width: 350px;
	height: 100px;
	left: 1020px;
	top: 50px;
	display: inline-block;
	padding: 10px;
	margin: 0 auto;
	margin: 12px;
	text-align: left;
}

#tableOne input {
	width: 195px;
	margin: 5px;
	margin-left: 20px;
	height: 18px;
}

#tableOne td {
	border: solid 0px white;
}

/*///////////////////////////////////////
Submit Button "join us!"/////////////////
///////////////////////////////////////*/

#submitButton {
	right: 64px;
	top: 90px;
	position: absolute;
	background-color: black;
	border-radius: 12px;
	cursor: pointer;
	color: white;
	font-family: 'Megrim';
	font-size: 17px;
	font-weight: bold;
	padding: 30px;
	padding-top: 10px;
	height: 80px;
	text-decoration: none;
	border: solid 1px white;
	/*vertical-align: middle;
	margin-left: auto;
    margin-right: auto;
    margin:7px 50px 0px 0px*/
}

#submitButton:hover {
	background-color: rgba(85,195,166, .6);
}

/*///////////////////////////////////////
Main Content ////////////////////////////
///////////////////////////////////////*/

#contentOverview {
	border: solid 0px white;
	position: absolute;
	top: 400px;
	padding: 20px;
	height: 100%;
}




p {
	text-indent: 100px;
}

/*///////////////////////////////////////
Contact Bottom Page /////////////////////
///////////////////////////////////////*/

#contact {
	position: fixed;
	bottom: 0px;
	height: 50px;
	width: 100%;
	background: rgba(0,0,0, 100);
	border-top: solid 2px white;
	border-bottom: solid 0px white;
	z-index: 2;
	margin: 0px;
	margin-left: 0px;
	padding: 0px;
	outline: 0px;
	margin: 0 auto;
}

#contact ul{
	list-style: none;
}

#contact li{
	position: relative;
	border: solid 0px white;
	text-align: center;
	vertical-align: middle;
	width: 33%;
	float: left;
	font-family: 'Megrim', serif;
	font-size: 10pt;
	padding-top: 6pt;
	margin: 0px;
	margin: 0 auto;
	margin-left: 0px;
	left: 0px;
}

/*///////////////////////////////////////
donate.html //////////////////////////////
///////////////////////////////////////*/

#wrapper4 {
	border: solid 0px white;
	margin: 0 auto;
	position: relative;
	height: 500px;
	width: 1000px;
	top: 120px;
}

#donateBlurb {
	font-family: 'Megrim';
	text-align: middle;
	position: relative;
}

#donate {
	border: solid 0px white;
	position: relative;
	float: left;
	padding-left: 50px;
	font-size: 20px;
	font-family: 'Megrim';
	width: 400px;
	height: 500px;
}

#payment {
	float: right;
	padding-left: 50px;
	border: solid 0px white;
	font-size: 20px;
	font-family: 'Megrim';
	width: 400px;
	height: 500px;
}

.btn2{
	right: 160px;
	top: 320px;
	width: 240px;
	position: absolute;
	background-color: black;
	border-radius: 12px;
	cursor: pointer;
	color: white;
	font-family: 'Megrim';
	font-size: 17px;
	font-weight: bold;
	padding: 30px 50px;
	text-decoration: none;
	border: solid 1px white;
}
.btn2:hover {
	background-color: rgba(85,195,166, .6);
}


/*///////////////////////////////////////
about.html //////////////////////////////
///////////////////////////////////////*/

#sideContent {
	border: solid 0px white;
	color: white;
	position: absolute;
	top: 240px;
	left: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	margin: 0px;
	text-decoration: none;
	height: 435px;
	width: 690px;
	text-align: center;
}

#sideContent p{
	text-align: justify;
}

#womenTech {
	border: solid 0px white;
	position: absolute;
	width: 625px;
	top: 270px;
	left: 740px;
	display: block;
	text-align: center;
	opacity: .8;
}

#statsContainer {
	position: absolute;
	border: solid 0px white;
	padding: 0px;
	margin: 0px;
	height: 100vh;
	width: 100%;
	top: 720px;
}

#statTitle {
	color: white;
	text-align: center;
	border: solid 0px white;
	position: relative;
	top: 0px;
	width: 100%;
	height: 75px;
	vertical-align: middle;
}

#floatStats {
	border: solid 0px white;
	height: 400px;
	width: 100%;
	color: white;
	position: relative;
	top: 0px;
}

.statTable {
	border: solid 0px white;
	color: white;
	padding-top: 50px;
	margin: 0px;
	text-align: center;
	vertical-align: middle;
	width: 50%;
	height: 90px;
	font-size: 16pt;
	background-color: rgba(109, 189, 165, .15);
	z-index: 5;

}

.topLeft {
	float: left;
	
}

.topRight {
	float: right;
}

.bottomLeft {
	float: left;
}

.bottomRight {
	float: right;
}

/*///////////////////////////////////////
volunteer.html //////////////////////////
///////////////////////////////////////*/

#imageContainer {
	border: solid 0px white;
	position: absolute;
	top: 300px;
	left: 780px;
}

#statImage {
	top: 100px;
	height: 460px;
}

#statsContainerVol {
	border: solid 0px white;
	padding: 0px;
	margin-left: 10px;
	margin: 0px;
	height: 100vh;
	width: 50%;
	position: absolute;
	left: 20px;
	top: 275px;
}	


#floatStats {
	position: relative;
	top: 20px;
}

#statTitleVol {
	color: white;
	text-align: center;
	border: solid 0px white;
	position: relative;
	top: 0px;
	width: 100%;
	height: 120px;
	vertical-align: middle;
}

.statTableVol {
	border: solid 0px white;
	color: white;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
	text-align: center;
	vertical-align: middle;
	width: 44.4%;
	height: 100px;
	font-size: 18pt;
	background-color: rgba(109, 189, 165, .15);
	z-index: 5;
}

.statTableVol:hover {
	background: rgba(227, 51, 36, .8);
}



